<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Movies: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<BR><center><font color="green" size="8" ><B><U>Movies Library</B></U></font><BR><BR></center>
<%= yield  %>
<BR><center><font color="grey" size="1">Done by Noam Vaza<BR>noam.vaza@gmail.com</font><BR><BR></center>
</body>
</html>
